{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="headings">Partners</h1>

    <section>
    <a class="sub" href="{% url 'partners:patrons' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Patrons
    </a>

    <a class="sub" href="{% url 'partners:significantpartners' %}">
        <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" alt="Children enjoying rock activities">
        Partners
    </a>
</section>
    
        
     
</div>
{% endblock %}
