{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
    <a href = "{% url 'partners:partners' %}"><i class="fa-solid fa-left-long"></i></a>
 <h3>Selected Partners</h3>
        <p>
            <a href="https://www.bgs.ac.uk/" target="_blank">The British Geological Survey </a>have sent volunteer
             experts to provide interactive education activities for kids and adults. Including a giant
              map of the Yorkshire Wolds to use as a visual aid to learn about significant historic and
               Earth Science related features in the local area (2 images above). Rose Want (BGS Public 
               Engagement Officer) is one of our Trustees and pictured below delivering an interactive 
               workshop to kids at Yorkshire Fossil Festival.
        </p>
        <p>
            <a href="https://www.prm.ox.ac.uk/" target="_blank">Oxford Natural History Museum (Pitt Rivers Museum)</a> – annual exhibit provider in 2024 
            they provided an exhibit on the Kirkdale Cave (North York Moors), which was a crucial 
            location in the history of Geology that helped found the concept of dating the Earth.
        </p>
        <p>
            <a href="https://www.dinosaurisle.com/" target="_blank">Dinosaur Isle Museum – Isle of Wight</a> – are a significant contributor of internationally important displays of genuine British Dinosaur fossils, unparalleled by anything that is freely publicly available. A real treat for anyone attending our events!
        </p>
        <p>
            We are also supported by the <a href="https://scarboroughmuseumsandgalleries.org.uk/visit/rotunda-museum/" target="_blank">Rotunda (Scarborough)</a>, 
            <a href="https://whitbymuseum.org.uk/" target="_blank">Whitby</a> and <a href="https://www.yorkshiremuseum.org.uk/" target="_blank">Yorkshire Museums</a> who provide 
            evening speaking venues, stalls, grounds and logistical support.
        </p>
</div>
{% endblock %}