{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
    <a href = "{% url 'partners:partners' %}"><i class="fa-solid fa-left-long"></i></a>
    <h3>Significant Partners </h2>
    <img src="{% static 'media/images/patron/partners.jpg' %}" 
        alt="Partner Image" class="img-fluid mb-3"/>
    
    <p>During our professional work and whilst organising the Yorkshire Fossil Festival (since 2014), 
        we have developed a wide network of supportive partner organisations and talented individuals 
        in the UK and internationally. The list is long and prestigious!</p>

        <p>
            List of Significant Partners: The British Geological Survey (BGS), Oxford Natural History 
            Museum (Pitt Rivers Museum), Redcar & Cleveland Borough Council, Anglo-American Mining 
            Company, Arts Council England, Universities of Leeds, Sheffield, Hull, Bristol and 
            Portsmouth, Dinosaur Isle Museum (Isle of Wight), Yorkshire Geologists Society, Whitby 
            Museum, The Palaeontological Association, Whitby Town Council, Geological Association, 
            Rotunda Museum & Rotunda Geology Group, Let’s Circus, Scarborough Museums Group, Yorkshire 
            Coast BID.
        </p>
</div>
{% endblock %}