{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
<h1 class="headings">Events</h1>
<section>
    <div class="video ratio ratio-16x9" style="max-width: 900px; width: 100%;">
        <iframe 
            src="https://player.vimeo.com/video/953101049"
            title="Earth Science Outreach Video"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</section>
<section>

        <a class="sub" href="{% url 'events:upcoming' %}">
        <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" alt="Children enjoying rock activities">
        Upcoming Events
    </a>

    <a class="sub" href="{% url 'events:previous' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Previous Events
    </a>


</section>
{% endblock %}