{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
<h1 class="headings">Events</h1>
<section>

        <a class="sub" href="{% url 'events:upcoming' %}">
        <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" alt="Children enjoying rock activities">
        Upcoming Events
    </a>

    <a class="sub" href="{% url 'events:previous' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Previous Events
    </a>


    <a class="sub" href="{% url 'mission:gallery' %}">
        <img class="circlephoto" src="{% static 'media/images/general/performers.jpg'%}" alt="Performers with the YFF banner">
        Gallery
    </a>
</section>
{% endblock %}