{% extends "base.html" %}
{% load static %}

{% block title %}Whitby Fossil Festival{% endblock %}

{% block content %}
<div class="container">
    <a href = "{% url 'events:previous' %}"><i class="fa-solid fa-left-long"></i></a>
    <h1 class="headings">Whitby Fossil Festival</h1>
    <div class="text-center mb-4">
        <img class="d-block w-100 page-images" src="{% static 'media/images/whitby/1.jpg' %}" 
             alt="Performers at Whitby"/>
           
    </div>
    <section class="photo-grid">

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/2.jpg' %}" alt="Event photo 1">
       
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/3.jpg' %}" alt="Event photo 2">
        
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/4.jpg' %}" alt="Digging">
        
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/5.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/6.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/7.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/8.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/9.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/whitby/10.jpg' %}" alt="Event photo 3">

    </div>

</section>

</div>
{% endblock %}
