{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
    <a href = "{% url 'events:events' %}"><i class="fa-solid fa-left-long"></i></a>
<h1 class="headings">Previous Events</h1>
<section>

        <a class="sub" href="{% url 'events:staithes' %}">
        <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" alt="Children enjoying rock activities">
        <p>YFF presents Staithes Rocks </p><p>@ Staithes festival of</p><p>Art & Heritage, 2025</p> 
    </a>

    <a class="sub" href="{% url 'events:redcar' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        <p>YFF presents Redcar Rocks </p><p>@ Kitefest 2025</p>
    </a>


    <a class="sub" href="{% url 'events:fossilfest' %}">
        <img class="circlephoto" src="{% static 'media/images/general/performers.jpg'%}" alt="Performers with the YFF banner">
        <p>Yorkshire Fossil Festival -</p><p>Whitby 2023</p> 
    </a>

    <a class="sub" href="{% url 'events:scarb' %}">
        <img class="circlephoto" src="{% static 'media/images/scarfoss/2.jpg'%}" alt="Performers with the YFF banner">
        <p>Yorkshire Fossil Festival -</p><p>Scarborough 2022</p> 
    </a>
</section>
{% endblock %}