{% extends "base.html" %}
{% load static %}

{% block title %}Redcar Kite Festival{% endblock %}

{% block content %}
<div class="container">
    <a href = "{% url 'events:previous' %}"><i class="fa-solid fa-left-long"></i></a>
    <h1 class="headings">YFF presents Redcar Rocks @ Kitefest 2025</h1>
    <div class="text-center mb-4">
        <img class="d-block w-100 page-images" src="{% static 'media/images/redcar/1.JPG' %}" 
             alt="Team at Redcar"/>
           
    </div>
    <div>
        <p>
            The Fossil Festival moves north to Teesside for our new partnership with Redcar and Cleveland Borough Council. Including a hybrid indoor and outdoor event, we took over the Youth Venue of TunedIn, filling it with over 20 exhibitors from right across the UK. Meanwhile an outdoor festival area included geoheritage exhibitors, street artists, musicians, puppeteers and loads more. Over 10000 people visited our event over the course of a single day.
Featured Guests included Award Winning Musician Olivia Raffferty, Dance Company - Keisha Dance (Birmingham)

        </p>
    </div>
    <section class="photo-grid">

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/2.JPG' %}" alt="Event photo 1">
       
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/3.jpg' %}" alt="Event photo 2">
        
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/4.jpg' %}" alt="Digging">
        
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/5.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/6.jpeg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/7.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/8.jpeg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/9.jpg' %}" alt="Event photo 3">
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/redcar/10.jpeg' %}" alt="Event photo 3">

    </div>

</section>

</div>
{% endblock %}
