{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
    <a href = "{% url 'events:events' %}"><i class="fa-solid fa-left-long"></i></a>
<h1 class="headings">Upcoming Events</h1>
<p class="mt-2">
    Join us at our upcoming events in 2026! We can't wait to see you!
</p>

<div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/kitefest.jpg'%}" alt="Redcar Kite Festival Logo">
        <div class="trustee-text">
            <h3>Redcar Kite Festival</h3>
                 <p class="fw-bold">Date:</p><p> 6-7th June 2026</p>
                        <p class="fw-bold">Location:</p> <p>Majuba Beach, Redcar</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://teesvalley-ca.gov.uk/visit/whats-on/events/redcar-kite-festival-2025/">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p>Not Required</p>   

        </div>
    </div>

    <div class="trustee reverse">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/staithesarrts.jpg'%}" alt="Staithes Arts Festival Logo">
        <div class="trustee-text">
            <h3>Staithes Arts Festival</h3>
           <p class="fw-bold">Date:</p><p> 12-13th September 2026</p>
                        <p class="fw-bold">Location:</p> <p>Staithes</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://www.staithesfestival.com/">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p>TBC</p>
    </div>
    </div>

    <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/geoasso.jpg'%}" alt="Geology Assosciation Logo">
        <div class="trustee-text">
            <h3>Geologists' Assosciation Conference in York </h3>
                        <p class="fw-bold">Date:</p><p> 26-27th September 2026</p>
                        <p class="fw-bold">Location:</p> <p>Yorkshire Musuem</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://geologistsassociation.org.uk/events/ga-conference-york/">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p>TBC</p>

        </div>
    </div>


    

    

{% endblock %}