{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
    <a href = "{% url 'events:events' %}"><i class="fa-solid fa-left-long"></i></a>
<h1 class="headings">Upcoming Events</h1>
<p class="mt-2">
    Join us at our upcoming events in 2026! We can't wait to see you!
</p>

<div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/kitefest.jpg'%}" alt="Redcar Kite Festival Logo">
        <div class="trustee-text">
            <h3>Redcar Kite Festival</h3>
                 <p class="fw-bold">Date:</p><p> 6-7th June 2026</p>
                        <p class="fw-bold">Description:</p> <p>Taking place alongside Redcar Kitefest, we bring a fun programme to combine fossils, geology and Earth Science. In 2026 there will be daily Fossil Safaris on the Redcar seafront (ticketed), as well as free talks, exhibits and traders selling fossils and minerals. 

University of Leeds will also showcase their creative Earth Science workshops in Redcar Palace, 1 mile east of the Majuba promenade event area.
</p>

                        <p class="fw-bold">Location:</p> <p>Majuba Beach, Redcar</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://teesvalley-ca.gov.uk/visit/whats-on/events/redcar-kite-festival-2025/" target="_blank">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p><a href="https://2026RedcarFossilSafariSatJune6.eventbrite.co.uk" target="_blank">Fossil Safari - Saturday</a></p>   
                        <p class="fw-bold"></p> <p><a href="https://2026RedcarFossilSafariSunJune7.eventbrite.co.uk" target="_blank">Fossil Safari - Sunday</a> </p>
                        <p class="fw-bold">Would you like to help?</p> <p><a href="https://forms.gle/zrSpCdtdDuNZ84517" target="_blank">Sign Up To Volunteer Here!</a></p>   
                        
        </div>
    </div>

    <div class="trustee reverse">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/whitby.jpg'%}" alt="Whitby Logo">
        <div class="trustee-text">
            <h3>Whitby Museum & Seafront</h3>
                 <p class="fw-bold">Date:</p><p> 1st August 2026</p>
                 <p class="fw-bold">Description:</p><p> 11am-3pm
To help shine a light on the fantastic Whitby Museum and its annual fossil day, we’re adding two special events to the programme: 
A morning fossil session on Tate Hill Sands (the beach within the inner harbour wall)
A ticketed expert fossil safari with The Rock Showman - 9:30-1330 (Purchase tickets below).</p><p>
There are many special activities taking place within Whitby Museum, including some favourite contributors from previous ESOUK/YFF events - palaeoartist James McKay, Author Matthew Myerscough and the Geologists Association
</p>
                        <p class="fw-bold">Location:</p> <p>Whitby Museum and Seafront</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://whitbymuseum.org.uk/event/whitby-fossil-day/" target="_blank">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p><a href="https://bookwhen.com/fossils-uk/e/ev-szlus-20260801093000" target="_blank">Book Here</a></p>   

        </div>
    </div>

    

    <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/staithesarrts.jpg'%}" alt="Staithes Arts Festival Logo">
        <div class="trustee-text">
            <h3>Staithes Arts Festival</h3>
           <p class="fw-bold">Date:</p><p> 12-13th September 2026</p>
           <p class="fw-bold">Description:</p> <p>Coinciding with the Arts Festival, our pop-up event will feature 

A morning Fossil and Geology Safari to Old Nab and Jet Wyke (ticketed)
Afternoon hands-on with fossils on the beach (free)
And an Early evening panel discussion in the village hall  (details tbc)
</p>
                        <p class="fw-bold">Location:</p> <p>Staithes</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://www.staithesfestival.com/" target="_blank">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p>TBC</p>
    </div>
    </div>

    

    <!-- <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/eventlogos/geoasso.jpg'%}" alt="Geology Assosciation Logo">
        <div class="trustee-text">
            <h3>Geologists' Assosciation Conference in York </h3>
                        <p class="fw-bold">Date:</p><p> 26-27th September 2026</p>
                        <p class="fw-bold">Location:</p> <p>Yorkshire Musuem</p>
                        <p class="fw-bold">Website:</p> <p><a href="https://geologistsassociation.org.uk/events/ga-conference-york/">Website</a> </p>
                        <p class="fw-bold">Tickets</p> <p>TBC</p>

        </div> -->
    </div>


    

    

{% endblock %}