{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Welcome to Earth Science Outreach UK</h2>
    
    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'media/images/carousel/IMG_2649.jpeg' %}" class="d-block w-100" alt="Staithes">
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/carousel/IMG_2630.jpeg'%}" class="d-block w-100" alt="cliff">
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/carousel/fossils.jpeg'%}" class="d-block w-100" alt="fossils">
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/carousel/polishing.jpeg'%}" class="d-block w-100" alt="fossil polishing">
    </div>
    <div class="carousel-item">
      <img src="{% static 'media/images/carousel/Dacentrurus.jpeg'%}" class="d-block w-100" alt="Dacentrurus model">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p>
     On April 2nd, 2025, we proudly became a registered charity (CIO) in the UK, dedicated to making 
     Earth Science accessible to all. Our <a href="{% url 'mission:mission' %}"> mission</a> is to bridge the gap between underserved 
     communities and the wealth of knowledge within Earth Science institutions, fostering education, 
     engagement, and a deeper connection to the natural world for those who might otherwise be excluded.
    </p>
 <p>We are proud to have a dedicated team of volunteers and trustees, who, alongside our partners, are 
  ready to launch exciting events, workshops, and field trips. Our goal is to help everyone understand 
  the Earth’s dynamic changes in their local area and how these changes are connected to global 
  environmental issues.</p>

        <p>We are also committed to using the lessons of the past to protect our planet and preserve
           our natural heritage for future generations. By studying past environmental changes, we aim
            to better understand current climate challenges and the urgent need to address global 
            warming.</p>

        <p>If you would like to support our efforts or get involved, we’d love to hear from you.</p>
    </section>

</div>
{% endblock %}
