# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS / editor temp files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
*.sublime-workspace

# Ignore local virtual environments (if accidentally created)
venv/
virtualenv/
*.env
*.venv