{% extends "base.html" %}
{% load static %}

{% block title %}In Memoriam - ESO Project{% endblock %}

{% block content %}
<div class="container">
    <h1 class="headings">Richard Forrest</h1>
    <div class="text-center mb-4">
        <img class="d-block w-100 page-images" src="{% static 'media/images/richard/palaeogandalf.jpg' %}" 
             alt="Our very own Palaeo Gandalf"/>
             <p class="quote">Affectionately known as Palaeo Gandalf, Richard was a valued member of ESOUK until he suddenly passed away on 9th Janaury 2026.
                He featured in this wonderful article in <a href="https://www.theguardian.com/environment/article/2024/jul/02/the-fossil-finder-one-mans-lifelong-search-for-fragments-of-britains-jurassic-past-photo-essay" target="_blank">The Guardian</a>
                that everyone should take a moment to read.
             </p>
             <p>
                In his own words, he was a renowned amateur scientists with many published articles on 
                marine reptiles of the mesozoic. He was Chair of the Northampton Geological Society and
             the Peterborough Palaeontological Society and has organised international conferences in 
             Lyme Regis.

                <p>
                    He supervised the excavation of several marine reptiles, and had a reputation for
                     preparing fossils which only an idiot would tackle.
                </p>
                <p>
                    Richard will be sorely missed in the Palaeontology community however, he inspired a whole
                    new generation who will carry his name, his knowledge and his experience forward.
                </p>

 
             </p>
    </div>
    <section class="photo-grid">

    <div class="photo-card">
        <img src="{% static 'media/images/richard/group.jpg' %}" alt="Event photo 1">
        <p class="quote">A wonderful friend and mentor to so many young students, encouraging the next generation. Will never forget the genuine tears of joy when the crocodile skull was found on the 2024 dig or the 2025 conversation when we discussed all that had been found and whether there was anything else that we wanted to find but hadn’t found yet, of course he said it would be wonderful to find a plesiosaur, roll forward 24 hours and one was found in a nodule. Our very own palaeo Gandalf x</p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/0.jpg' %}" alt="Event photo 2">
        <p class="quote">Everything we know about plesiosaurs, is wrong’, he used to shout out jokingly during the evening games. I've only known Richard for nearly 3 years, but made a strong friendship with him during the digs and museum set up. I will miss him dearly.</p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/1.jpg' %}" alt="Digging">
        <p class="quote">Richard put us all to shame - he would dig so hard and so enthusiastically, and then go out for a run when the rest of us were absolutely knackered. He would then casually remind you that he was 70+.</p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/2.jpg' %}" alt="Event photo 3">
        <p class="quote">Richard was the most impressive paleontologist I ever met and an amazing and inspiring scientist. No matter the weather he was never afraid to get his hands dirty!</p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/4.jpg' %}" alt="Event photo 3">
        <p class="quote">The discovery of the crocodile brought him such delight, even during his battle with all the "bloody pyrite" in the nodule and the hundreds of hours of painstaking preparation, resulting in a truly remarkable specimen.</p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/5.jpg' %}" alt="Event photo 3">
        <p class="quote">I met Richard two years ago at Cerney Wick, upon showing him a very nice Cadoceras, he remarked that ammonites were mere petrol tokens, and that marine reptiles were much more interesting.</p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/6.jpg' %}" alt="Event photo 3">
        <p class="quote">I only met Richard at this year's Cerney Wick but I could tell he was a kind soul with a great sense of humour. He identified my 1st ever Jurassic bone; a bit of plesiosaur rib; and I know he had a huge impact on so many people. </p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/7.jpg' %}" alt="Event photo 3">
        <p class="quote">Richard identified my first ichthyosaur fossil! He looked at it and told me I had found a small piece of ichthyosaur rostrum </p>
    </div>

    <div class="photo-card">
        <img src="{% static 'media/images/richard/8.jpg' %}" alt="Event photo 3">
        <p class="quote">“If your snot is black, it's time to change your filter.”</p>
        <p>Perhaps the best opening line when you first meet someone.</p>
    </div>

</section>

</div>
{% endblock %}
