{% extends "base.html" %}
{% load static %}

{% block title %}Team - ESO Project{% endblock %}

{% block content %}
<div class="container">
    <p>
        <h1 class="headings">Meet the Team</h1>
    </p>
    <p>
        The core of our Team are the main Organisers of <a href="https://yorkshirefossilfestival.co.uk/" target="_blank">Yorkshire Fossil Festival </a>(YFF: 2014-2024). During their amazing work bringing Earth Science to the people of Yorkshire, they have shown a proven track record in providing world renowned speakers, innovative interactive activities, slick event logistics and engaging school day edutainment.

 

We have also worked closely with <a href="https://fossilfestival.com/" target="_blank">Lyme Regis Fossil Festival</a>  (the largest in the UK) and over the years have brought together an expert team to broaden our horizons into developing Earth Science Outreach UK as a growing and thriving charity.
    </p>

    <p>
        While we appreciate our expertise so far has mainly been focused on Geology and Palaeontology, one of our first steps as a Registered Charity will be to broaden our team to include Meteorologists, Oceanographers, Space Scientists and Environmental Scientists. Contact us if you'd like to get involved!
    </p>
    

 
    <section>

        <a class="sub" href="{% url 'team:trustees' %}">
        <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" alt="Children enjoying rock activities">
        Trustees
    </a>

    <a class="sub" href="{% url 'partners:patrons' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Patrons
    </a>

     <a class="sub" href="{% url 'partners:significantpartners' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Partners
    </a>

</section>
   
{% endblock %}
