{% extends "base.html" %}
{% load static %}

{% block title %}Team - ESO Project{% endblock %}

{% block content %}
<div class="container">
    <p>
        <h1 class="headings">Meet the Team</h1>
    </p>
    <p>
<p>Our core team-member come from a diversity of backgrounds, including Academia and Education, The Arts, Heritage and Industry. We run primarily off volunteer power, with contributions from leading professionals and dedicated amateurs alike. A unifying characteristic of our workforce is the desire to create transformative educational experiences for everyone.</p>
<p>Our workforce grew out of the 10 year development of Yorkshire Fossil Festival (YFF: 2014-2024). During the amazing work bringing Earth Science to the people of Yorkshire Coast, the independent festival producers honed a disciplined approach to combining world-renowned speakers, innovative interactive activities, slick event logistics and engaging school day edu-tainment. </p>
<p>We’re no-longer running an annual Fossil Festival, as our evaluation has shown that a large, one off festival is NOT the most viable format for long term engagement, or sustainability. The charity was formed to both diversify our content, and to bring a wider range of events to more locations. Our five year plan is for a more-connected team to deliver public engagement more often, in a variety of scales.</p>
<p>While we appreciate our expertise so far has mainly been focused on Geology and Palaeontology, one of our first steps as a Registered Charity is to broaden our team to include Meteorologists, Oceanographers, Space Scientists and Environmental Scientists. Contact us if you'd like to get involved! </p>

 

We have also worked closely with <a href="https://fossilfestival.com/" target="_blank">Lyme Regis Fossil Festival</a>  (the largest in the UK) and over the years have brought together an expert team to broaden our horizons into developing Earth Science Outreach UK as a growing and thriving charity.
    </p>

    <p>
        While we appreciate our expertise so far has mainly been focused on Geology and Palaeontology, one of our first steps as a Registered Charity will be to broaden our team to include Meteorologists, Oceanographers, Space Scientists and Environmental Scientists. Contact us if you'd like to get involved!
    </p>
    

 
    <section>

        <a class="sub" href="{% url 'team:trustees' %}">
        <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" alt="Children enjoying rock activities">
        Trustees
    </a>

    <a class="sub" href="{% url 'partners:patrons' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Patrons
    </a>

     <a class="sub" href="{% url 'partners:significantpartners' %}">
        <img class="circlephoto" src="{% static 'media/images/general/whitbymuseum.jpg'%}" alt="Whitby Museum">
        Partners
    </a>
    <a class="sub" href="{% url 'team:memoriam' %}">
        <img class="circlephoto" src="{% static 'media/images/richard/palaeogandalf.jpg'%}" alt="Richard Forrest">
        In Memoriam
    </a>


</section>
   
{% endblock %}
