{% extends "base.html" %}
{% load static %}

{% block title %}Team - ESO Project{% endblock %}

{% block content %}

<div class="container">
    <h2>Trustees</h2>

    <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Dr Liam Herringshaw">

        <div class="trustee-text">
            <h3>Dr. Liam Herringshaw – Founder Trustee</h3>
            <p class="title"><b>Director of Yorkshire Fossil Festival</b></p>
            <p>
                Liam is a freelance Earth Science public engagement professional, working with schools, 
                museums, universities, and professional societies. He has a PhD in palaeontology and is a 
                former lecturer at the University of Hull, having worked in universities in England, 
                Scotland, and Canada.
            </p>
            <p>
                Liam is programme secretary of the Rotunda Geology Group, and an active member of the 
                Yorkshire Philosophical Society and the Palaeontological Association.
            </p>
        </div>
    </div>


    <div class="trustee reverse">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Steve Cousins">

        <div class="trustee-text">
            <h3>Steve Cousins – Founder Trustee</h3>
            <p class="title"><b>Director of Let’s Circus and Yorkshire Fossil Festival</b></p>
            <p>
                Steve has a 25 year career of public engagement spanning science, the creative industries 
                and youth leadership. He is an advocate for creating transformative participatory 
                activities. His commitment to developing Earth Science engagement is via live, public
                events in non traditional ways.
            </p>
        </div>
    </div>

    <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Dr Liam Herringshaw">

        <div class="trustee-text">
            <h3>Dr. Peter King – Founder Trustee</h3>
            <p class="title"><b>Earth Science Educator – Online Teacher</b></p>
            <p>
                Pete is an online Earth Science Teacher with a PhD in Philosophy and an MSc in Petroleum 
                Geophysics, with several years previous experience working internationally in the Oil 
                Industry.
            </p>
            <p>
                He also has many years previous experience as the CEO of a CIO: Performers Without 
                Borders (PWB). Peter was respnsible for upgrading PWB from a charity to a CIO and 
                successfully managed the finances, marketing, governance, child safety and MEARL 
                (PWB Impact Reports). 
            </p>
        </div>
    </div>

    <div class="trustee reverse">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Steve Cousins">

        <div class="trustee-text">
            <h3>Sally Hollingworth - Trustee</h3>
            <p class="title"><b>(job title)</b></p>
            <p>
                Sally is an amateur palaeontologist and community builder. She is known for making 
                palaeontology digs for students in order to give people professional experience in 
                fossil digs. One of her discoveries rewrote the history books when it proved that 
                neanderthals cohabited during the ice age 214,000 in the UK.
            </p>
            <p>
                She is also the star of a BBC documentary with Sir David Attenborough about her part 
                in the amazing mammoth find at Cerney Wick in the Cotswolds. She has organised over 
                100 early career scientists and citizen scientists adding to professional realm of 
                science.
            </p>
        </div>
    </div>

    <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Dr Liam Herringshaw">

        <div class="trustee-text">
            <h3>Dr.Fiona Gill - Trustee</h3>
            <p class="title"><b>(job title)</b></p>
            <p>
                Fiona is Vice-President of the Palaeontological Association (PalAss) and is a Lecturer 
                at the School of Earth and Environment at the University of Leeds. She specialises in 
                the chemistry of fossils and their modern equivalents and is especially interested in 
                cold seeps, coprolites and plants.
            </p>
        </div>
    </div>

        <div class="trustee reverse">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Dr Liam Herringshaw">

        <div class="trustee-text">
            <h3>Rose Want - Trustee</h3>
            <p class="title"><b>(job title))</b></p>
            <p>
                Rose is an enthusiastic Earth Science and MSc Science Communication graduate, 
                currently working in public engagement for the British Geological Survey based at the 
                Natural History Museum. She has a passion for the natural world which she hopes to 
                share with others, both to educate and inspire.
            </p>
        </div>
    </div>

        <div class="trustee">
        <img class="trusteephoto" src="{% static 'media/images/general/liam.jpg'%}" alt="Dr Liam Herringshaw">

        <div class="trustee-text">
            <h3>Holly Turner - Trustee and Designated Safeguarding Lead</h3>
            <p class="title"><b>Science and Computer Science Teacher</b></p>
            <p>
                Holly is a qualified teacher, science lead and computer scientist who has always used her
                 enthusiasm for the world around us to plan whole curriculums based around the natural 
                 environment.
            </p>
            <p>
                She has used her educational positions to promote women in STEM, organising and taking 
                part in activities encouraging young girls to be excited and enthused in a subject that 
                isn’t always promoted to them.
            </p>
            <p>
                Her experience in the education sector and technological world will allow her to bring 
                the magic of the history of our world to life in a variety of ways.
            </p>

        </div>
    </div>

</div>
{% endblock %}
