{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Our Mission</h2>
    On the 2nd April 2025 we become an official Registered Charity in the UK.

 

The objects of the CIO are for the public benefit:

 

1) To advance education in Earth Science, which includes the subjects of Geology, Meteorology, Oceanography, Physical Geography and Environmental Science by:

 

● providing accessible, engaging, and impactful Earth Science education to young people, people without formal qualifications in Earth Sciences and communities from disadvantaged backgrounds, fostering a deeper understanding of our planet, its systems, and the importance of sustainability;

 

● connecting communities with lifelong learning opportunities in Earth Science education, boosting access to knowledge in places that are furthest from the centres of distribution;

 

● supporting major scientific, cultural and academic institutions, regionally and nationally, as a nexus organisation, linking them with communities that have limited awareness of, or access to, their programmes, resources and opportunities;

 

● working at local, regional and national scales to cultivate and promote public activities connecting individuals and communities with dynamic, engaging, multidisciplinary programmes, including, but not limited to: public events, field activities, workshops, digital resources, vocational opportunities, and touring exhibitions;

 

(continued below)


● facilitating a more diverse group of people to develop a deep understanding of the natural world, from the local to global scale;


● nurturing people’s participation with science, culture, creativity and community, creating opportunities for transformative growth; and


● connecting lessons of the past with knowledge of the present, encouraging the use of Earth Science as a bedrock from which to build social and political change, in a future where climate change will affect everyone.

 

2) To promote the conservation, protection and improvement of the physical and natural environment by providing education on Earth Science and climate change
</div>
{% endblock %}
