{% extends "base.html" %}

{% block content %}
<div class="container">
    <a href = "{% url 'mission:plan' %}"><i class="fa-solid fa-left-long"></i></a>
    <h1 class="headings">Our Mission</h1>
   <p>Founded as a registered UK charity (CIO) in April 2025, we exist to make Earth Science accessible 
    to everyone.</p>
        <p>We advance education in Geology, Meteorology, Oceanography, Physical Geography, and 
            Environmental Science by opening doors to those who have traditionally been excluded from 
            these fields — including young people, individuals without formal qualifications, and 
            communities facing disadvantage. We connect communities with leading scientific and cultural 
            institutions, creating pathways into lifelong learning, vocational opportunities, and 
            meaningful engagement with the natural world.</p>
        <p>Through public events, fieldwork, workshops, digital resources, and partnerships across the 
            UK, we use Earth Science as a foundation for understanding our planet, responding to climate 
            change, and building a more sustainable and equitable future.</p>
    </section>

</div>
{% endblock %}
