{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
<h3>Our Goals</h3>
<a href="{% url 'mission:work' %}"> <img class="circlephoto" src="{% static 'media/images/general/banner.jpg'%}" class="d-block w-100" alt="Fossil Festival Banner"></i> Previous Work</a>
<a href="{% url 'mission:mission' %}"><i class="fa-solid fa-children"></i>Our Mission</a>
<a href="{% url 'mission:gallery' %}"><i class="fa-solid fa-camera"></i>Gallery</a>
        
</div>
{% endblock %}