{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Our Work</h2>
    <p>
        Earth Science Outreach UK is based on a team that have successfully run the Yorkshire Fossil Festival (YFF) for 10 years since 2014 in Whitby, Redcar, Hull and Scarborough. This included field trips to visit fossil sites along Yorkshire’s beautiful Jurassic coastline.

 

Below and linked here is a great video summary from our previous organisational structure, GeoHeritage Rocks, which we are now upgrading to Earth Science Outreach UK (CIO), but the principle is just the same but for the whole of Earth Science (including Climate Change) and not just Geology.


We have also provided education workshops for kids at Lyme Regis Fossil Festival as well as an interactive venue called the “Rockshowman’s Booth”, where the history of the Earth is printed on the walls and visitors are given short presentations on minerals, fossils and other Earth Science subjects. You can see videos of our previous talks and other interviews and lectures here.

 

In future we hope to apply for funding to extend our Outreach work all year round to visit schools and help people get involved in their local Earth History – see Our Mission for more details.

This year from the 25 to 27th May 2024 in Redcar the Yorkshire Fossil Festival (video here) hosted interactive workshops, guest speakers and information stands.

 

We estimated we had over 17,000 people pass through the festival over the whole weekend and it featured some of the biggest names in Earth Science such as the British Geological Survey. See Our Partners for more details.


Rock Showman's Booth at YFF2024, Redcar
We are also regulars at the Lyme Regis Fossil Festival, which is the largest in the UK. At these events we do schools outreach and Earth Science edutainment using hands on displays and performance art via The Rock Showman’s booth.


Panel Discussion in the Rock Showman's Booth YFF2024, Redcar
During these events we have developed an extensive network of people and institutions that are involved in Earth Science outreach in the UK. We are also very active personally and proffesionally in the “Earth Science” scene internationally.

 

We hope to formalise this extensive network and knowledge into a Registered Charity to bring Earth Science to those who would not normally have access to it. Please see our Our Mission for more details.

 

Below is a video and some pictures from Yorkshire Fossil Festival 2024. We hope you like them and we hope you come and take part at the next one.








    </p>
</div>
{% endblock %}
